# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Models
models/*.pth
models/*.pt

# Data
data/raw/
data/processed/

# Outputs
outputs/

# VS Code
.vscode/

# Environment
.env